{{!
{
	"name": "NavBarBreadcrumbView",
	"description": "NavBar Breadcrumb View Template"
}
}}
<li class="nav-logo">
	<a href="/library/#!/home"><i class="logo-ebooklibrary"></i></a>
</li>
{{#exists search}}
<li class="nav-search">
	<span class="nav-divider"></span>
	<a class="active" title="Search" href="/library/#!/search"><i class="icons-breadcrumb icon-search"/>Search</a>
</li>
{{/exists}}
{{#if author}}
<li class="nav-author">
	<span class="nav-divider"></span>
	<a {{#unless series}}class="active" {{/unless}}title="{{author}}" href="/library/#!/books/{{author}}/"><i class="icons-breadcrumb icon-author"/>{{author}}</a>
</li>
{{/if}}
{{#if series}}
<li class="nav-series">
	<span class="nav-divider"></span>
	<a class="active" title="{{series}}" href="/library/#!/books/{{author}}/{{series}}/"><i class="icons-breadcrumb icon-series"/>{{{basename series}}}</a>
</li>
{{/if}}
