{{!
{
	"name": "LinksView",
	"description": "Links View Template"
}
}}
<ul class="row list-links">
{{#each links}}
	<li class="col-lg-3 col-md-4 col-sm-6 col-xs-12"><h4 class="heading-title"><a href="{{urls.[0].href}}" target="_blank" title="{{title}}"><img src="{{icon}}" title="{{title}}"/>{{title}}</a></h4></li>
<!--
	<li !class="col-lg-2 col-md-3 col-sm-4 col-xs-6"><h4 class="heading-title"><img src="{{icon}}" title="{{title}}"/>{{title}}</h4>
		<ul class="list-panel">
		{{#each urls}}
			<li><a href="{{href}}" target="_blank" title="{{href}}">{{label}}</a></li>
		{{/each}}
		</ul>
	</li>
-->
{{/each}}
</ul>
