{{!
{
	"name": "LinksPanelView",
	"description": "Links Panel View Template"
}
}}
<!-- h4 class="heading-links heading-sidebar">Links</h4 -->
<h3 class="well-title">Links</h3>
<ul class="list-links">
{{#each links}}
	<li><h4 class="heading-title"><img src="{{icon}}" title="{{title}}"/>{{title}}</h4>
		<ul class="list-panel">
		{{#each urls}}
			<li><a href="{{href}}" target="_blank" title="{{href}}">{{label}}</a></li>
		{{/each}}
		</ul>
	</li>
{{/each}}
</ul>
