{{!
{
	"name": "DetailsView",
	"description": "Books Panel Details View Template"
}
}}
<ul class="bookspanel-books bookspanel-details media-list">
{{#each books}}
<li class="book-detail media">
<div class="book-detail-cover pull-left">
		<a class="thumbnail" href="{{downloadUrl}}" title="{{fileInfo.name}}"><img class="media-object" src="{{bookInfo.cover}}"/></a>
<!--
		<a class="btn-book-read btn btn-default btn-sm" href="{{href}}" title="Read Book"><i class="icon-book-open"></i>Read Book</a>
-->
</div>
<div class="media-body">
	<h5 class="heading-author" title="{{bookInfo.authorStr}}">{{bookInfo.authorStr}}</h5>
	<h4 class="heading-title" title="{{bookInfo.title}}">{{bookInfo.title}}</h4>
	<div class="description">{{{bookInfo.description}}}</div>
	<div class="book-detail-details details small">
		<div class="book-detail-publishing">
			<span class="book-detail-publishingdate">Published {{bookInfo.publishingDateStr}}</span>
			<span class="book-detail-publisher">{{#if bookInfo.publisher}}by {{bookInfo.publisher}}{{/if}}</span>
		</div>
		<table class="table">
			{{#if bookInfo.isbn}}
			<tr class="book-detail-isbn"><td class="details-label">isbn</td><td>{{bookInfo.isbn}}</td></tr>
			{{/if}}
			{{#if bookInfo.subject}}
			<tr class="book-detail-subject"><td class="details-label">subjects</td><td>{{bookInfo.subjectStr}}</td></tr>
			{{/if}}
			{{#if bookInfo.language}}
			<tr class="book-detail-language"><td class="details-label">language</td><td>{{bookInfo.language}}</td></tr>
			{{/if}}
			{{#if bookInfo.contributor}}
			<tr class="book-detail-contributor"><td class="details-label">contributor</td><td>{{bookInfo.contributor}}</td></tr>
			{{/if}}
			{{#if bookInfo.creatorSoftware}}
			<tr class="book-detail-creator"><td class="details-label">creator software</td><td>{{bookInfo.creatorSoftware}}</td></tr>
			{{/if}}
		</table>
	</div>
</div>
</li>
{{/each}}
</ul>
</div>
