{{!
{
	"name": "ThumbsView",
	"description": "Books Panel Thumbs View Template"
}
}}
<div class="bookspanel-books bookspanel-thumbs row">
{{#each books}}
	<div class="book-thumb col-md-2 col-sm-3 col-ms-4 col-xs-6">
		<div class="book-thumb-cover">
			<div>
				<a href="{{downloadUrl}}" title="{{fileInfo.name}}"><img src="{{bookInfo.cover}}"/></a>
			</div>
		</div>
		<h5 class="heading-author" title="{{bookInfo.authorStr}}">{{bookInfo.authorStr}}</h5>
		<h4 class="heading-title" title="{{bookInfo.title}}">{{bookInfo.title}}</h4>
	</div>
{{/each}}
</div>
